@import url(../css/reset.css);
@import url(../css/default.css);

.header .header_wrap {
    display: grid;
    grid-template-columns: 9fr 1fr;
    justify-items: center;
    height: 10rem;
    align-items: center;
}

.header .logo {
    width: 13.5rem;
    height: 6.5rem;
    position: relative;
}

.header .logo a {
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 0;
    line-height: 0;
    width: 13.5rem;
    height: 6.5rem;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10rem auto;
}
.header .gnb {
    display: none;
}

.header .btn-menu {
    font-size: 0;
    line-height: 0;
    width: 6.5rem;
    height: 6.5rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='74.98' height='47.38' viewBox='0 0 74.98 47.38'%3E%3Cg id='구성_요소_1_1' data-name='구성 요소 1 – 1' transform='translate(1 1)'%3E%3Cpath id='패스_1' data-name='패스 1' d='M1658,64.059h72.98' transform='translate(-1658 -64.059)' fill='none' stroke='%233b3b3b' stroke-linecap='round' stroke-width='7'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M1658,64.059h42.747' transform='translate(-1628.768 -41.369)' fill='none' stroke='%233b3b3b' stroke-linecap='round' stroke-width='5'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M1658,64.059h72.98' transform='translate(-1658 -18.679)' fill='none' stroke='%233b3b3b' stroke-linecap='round' stroke-width='7'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: 3.5rem auto;
}

.header.open .btn-menu {
    display: none;
}

.header.open .gnb {
    position: absolute;
    top: 10rem;
    left: 0;
    letter-spacing: 0.3rem;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: 3.5rem;
    line-height: 10rem;
    background-color: #fbfbfb;
    z-index: 100;
}

.header.open .gnb > ul > li > a:hover{
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 2rem;
    text-decoration-thickness: 0.1rem;
}
.header .btn-close{
    display: none;}

.header.open .btn-close {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 6.5rem;
    height: 6.5rem;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28.915' height='28.217' viewBox='0 0 28.915 28.217'%3E%3Cg id='그룹_57' data-name='그룹 57' transform='translate(-679.242 -43.802)'%3E%3Cpath id='패스_90' data-name='패스 90' d='M1658,64.059h37.9' transform='translate(-446.439 -1173.171) rotate(45)' fill='none' stroke='%233b3b3b' stroke-linecap='round' stroke-width='2'/%3E%3Cpath id='패스_92' data-name='패스 92' d='M1658,64.059h37.9' transform='translate(-537.731 1198.398) rotate(-45)' fill='none' stroke='%233b3b3b' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
background-repeat: no-repeat no-repeat;
background-position: center center;
    background-size: 3.5rem auto;
}

.header .logo a {
    position: absolute;
    font-size: 0;
    line-height: 0;
    width: 13.5rem;
    height: 6.5rem;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10rem auto;
}

.footer {
    padding: 5rem 0;
    font-size: 1.8rem;
    text-align: center;
    line-height: 5rem;
    border-top: 0.1rem solid #f2f2f2;
    box-shadow: 0 -0.2rem 0.2rem #f3f3f3;
}

@media screen and (max-width: 1240px) {

    html,
    body {
        font-size: 8px;
    }
}

@media screen and (max-width: 1024px) {

    html,
    body {
        font-size: 7px;
    }
}


@media screen and (max-width: 1024px) {

    html,
    body {
        font-size: 7px;
    }
}

@media screen and (max-width: 738px) {

    html,
    body {
        font-size: 6px;
    }

    .header_wrap {
        height: 12rem;
    }

    .header .logo a {
        background-size: 12rem auto;
    }

    .header .btn-menu {
        font-size: 0;
        line-height: 0;
        width: 6.5rem;
        height: 6.5rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='74.98' height='47.38' viewBox='0 0 74.98 47.38'%3E%3Cg id='구성_요소_1_1' data-name='구성 요소 1 – 1' transform='translate(1 1)'%3E%3Cpath id='패스_1' data-name='패스 1' d='M1658,64.059h72.98' transform='translate(-1658 -64.059)' fill='none' stroke='%233b3b3b' stroke-linecap='round' stroke-width='5'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M1658,64.059h42.747' transform='translate(-1628.768 -41.369)' fill='none' stroke='%233b3b3b' stroke-linecap='round' stroke-width='5'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M1658,64.059h72.98' transform='translate(-1658 -18.679)' fill='none' stroke='%233b3b3b' stroke-linecap='round' stroke-width='5'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat no-repeat;
        background-position: center center;
        background-size: 5rem auto;
    }


    .footer {
        padding: 5rem 0;
        font-size: 2rem;
        text-align: center;
        line-height: 4rem;
        border-top: 0.1rem solid #f2f2f2;
        box-shadow: 0 -0.2rem 0.2rem #f3f3f3;
    }
}

@media screen and (max-width: 512px) {

    html,
    body {
        font-size: 5px;
    }
}

@media screen and (max-width: 418px) {

    html,
    body {
        font-size: 4px;
    }
}